<html>
 <body>
  <h3>Hi ${user} </h3>
  <div>

This is to inform that the ${semestername} semester deadline for submitting textbook order is ${deadlinedate} is coming up shortly.
 These are the textbook orders status submitted for the ${semestername} semester.

 <table width="80%" bgcolor="#9EC5FF" border="1"
                bordercolor="#888" cellspacing="0" cellpadding="4">
                #set ( $row = 1)
            <tr>
              <th align="center">Serial Number</th>
              <th align="center">Course Name</th>
              <th align="center">Order Status</th>
              </tr>

            #foreach ( $order in $orders )
              <tr bgcolor="#FFFFFF">
                <td align="center">$row</td>
                <td align="center">$order.classOrders[0].course.classname</td>
                <td align="center">waiting for '${order.status}' approval</td>


              </tr>
              #set ( $row = $row + 1 )
              #end
              </table>




 Order any remaining textbooks before deadline.The link to access the application is <a href="http://textbook-ordering-application.herokuapp.com/"> Textbook Ordering Application</a>.
  </div>




  <h3>Thanks</h3>
  <h3>Textbook ordering Application </h3>

 </body>
</html>